.tribe-events-list h2.tribe-events-list-event-title {    font: italic 600 20px/18px "agaramond", "Times", "Baskerville", "Georgia", serif;
    color: #fff;
    text-transform: none;
color:#b78b20;
display: inline-block;}
.tribe-events-list h2.tribe-events-list-event-title a {
color:#b78b20;
}
.not-featured {margin-bottom:10px}
.tribe-events-list .featured .tribe-events-event-image {width:100%;max-height:387px;}
.tribe-events-list .tribe-events-address, .tribe-events-list .tribe-events-gmap {display:none;}
.tribe-events-list .tribe-events-event-meta {background:#b78b20;height:140px;margin:0;padding:0;display:table;width:100%;}
.tribe-events-list .tribe-event-schedule-details {text-align:center;font: italic 600 18px/18px "agaramond", "Times", "Baskerville", "Georgia", serif;color:#fff;}
.tribe-events-list .tribe-event-date-end {display:block;}
.tribe-events-list .author {display:table-cell;vertical-align:middle;}
.tribe-events-list .tribe-event-date-start {margin-top:60px;}
.tribe-events-list .tribe-events-loop .tribe-events-event-meta .recurringinfo {display:none;}

.BIH-events-summary {background:#fff;height:142px;padding:10px;}


.tribe-events-list .not-featured h2.tribe-events-list-event-title {font-size:15px;line-height:14px;}
.tribe-events-list .not-featured a.tribe-event-schedule-detail {font-size:12px;}
.tribe-events-list .not-featured .tribe-events-event-image img {width:99%;}
.tribe-events-list .not-featured .BIH-events-summary {height:115px;}
.tribe-events-list  .not-featured .tribe-events-event-meta {height:115px;}
.tribe-events-list .not-featured .tribe-events-event-image {width:100%;height:140px;}
.tribe-events-list .not-featured .author {font-size:12px;}
.tribe-events-list .not-featured .tribe-event-schedule-details {font-size:12px;}

.tribe-related-event-info {height:135px;}

.an-event .tribe-events-before-html {display:none;}
.featured {height:530px; float:right!important;}
.an-event .tribe-events-after-html { display:none; }
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt { line-height:initial !important; }

.featured .tribe-events-event-image {width:100%;height:450px;}

/* Bill's Fixes 6.3.2016 */

#tribe-events-content .tribe-events-loop .featured { float:left !important; height:auto; margin-bottom:10px; }
.tribe-events-list .featured .tribe-events-event-image { width: 100%; max-height: 250px; }
.tribe-events-list .not-featured .tribe-events-event-image { width: 100%; height: 93px; }
.tribe-events-list .not-featured .tribe-events-event-meta { height: 97px; }
.tribe-events-list .not-featured .BIH-events-summary { height: 97px; }
.tribe-events-loop > div { padding:0px 5px; }

.tribe-events-loop {
    padding-left: 33.33333333%; clear: both;
}

#tribe-events-content .tribe-events-loop .featured { 
	position:absolute; margin-left:-33.33333333%;  
}