
#map_canvas {

    top: 0; bottom: 0;
    left: 0; right: 0;
	height:590px;
}
.popup-intro #map_canvas {
height:400px;
}
.legend {
    position: absolute;
    bottom: 25px;
    left: 10px;
    padding: 10px;
    background: #fff;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

}
.legend ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.legend-field-color {
    box-sizing: border-box;
    display: inline-block;
    height: 18px;
    width: 18px;
    border-style: solid;
    border-width: 2px;
}
.legend-field-color.county {
    border-color: #555;
    background: none;
}
.legend-field-color.optimal {
    border-color: #7BC618;
    background-color: #7BC618;
    background-color: rgba(123,198,24,0.5);
}
.legend-field-color.sub-optimal {
    border-color: #9966DD;
    background-color: #9966DD;
    background-color: rgba(153,102,221,0.5);
}
.legend-field-color.empty {
    border: 1px dashed #ddd;
    background: none;
}
.hidden {
    display: none;
}